.all_Testimonial {
  position: relative;
  padding: 20px;
  max-width: 1500px;
  margin: 0 auto;
}

.swiper-container {
  padding-top: 5rem;
  max-width: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(133, 130, 130) !important;
}

.single__testimonial {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.singleTop__title {
  width: 70%;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
}

.singleTop__title h2 {
  font-size: 35px;
  line-height: 42px;
}

section.testimonial .container {
  max-width: 1200px;
}

.top__text h3 {
  font-size: 23px;
  line-height: 43px;
}

.top__text {
  padding-bottom: 20px;
}

.bottom__text h2 {
  font-size: 21px;
  font-weight: 500;
}

.bottom__text p {
  padding-top: 8px;
  font-size: 14px;
  letter-spacing: 2px;
}

.testimonial__bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.testimonialBottom__left {
  display: flex;
  align-items: center;
}

.testimonialBottom__left img {
  width: 30px;
  margin-right: 12px;
}

.testmonialBottom__right {
  font-size: 15px;
  font-weight: 500;
}

.testimonialBottom__left p {
  color: var(--customColor);
  font-weight: 500;
  word-spacing: 3px;
}

@media (max-width: 768px) {
  .top__text h3 {
    font-size: 20px;
    line-height: 43px;
  }
}
